<div class="card h-100">
  <!-- Product image-->
  <img class="card-img-top" [src]="product.thumbnail" [height]="150" [alt]="product.title">
  <!-- Product details-->
  <div class="card-body p-4">
    <div class="text-center">
      <!-- Product name-->
      <h5 class="fw-bolder">{{product.title}}</h5>
      <!-- Product reviews-->
      <div class="text-warning mb-2">
        <app-star-rating [rating]="product?.rating"></app-star-rating>
      </div>
      
      <!-- Product price-->
      <span class="text-muted text-decoration-line-through">{{product.price * (product.discountPercentage / 100) + product.price | currency: 'INR' }}</span>
      {{product.price | currency: 'INR'}}
    </div>
  </div>
  <!-- Product actions-->
  <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
    <div class="text-center"><span class="btn btn-outline-dark mt-auto">View options</span></div>
  </div>
</div>