<!-- Product section-->
<header class="bg-dark py-5 mt-5">
  <div class="container px-4 px-lg-5 my-2">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Product Details</h1>
      <p class="lead fw-normal text-white-50 mb-0">{{product?.brand}}</p>
    </div>
  </div>
</header>

<section *ngIf="!!product">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5">
      <div class="col-md-5">
        <img class="card-img-top mb-5 mb-md-0" [src]="product.thumbnail" [alt]="product.title">
        <div class="d-flex mt-3 justify-content-between">
          <img *ngFor="let item of product.images| slice:0:4" class="img-thumbnail rounded-0" [src]="item" [alt]="item" width="23%">
        </div>
      </div>
      <div class="col-md-7">
        <div class="small mb-1">CATEGORY: {{product.category | uppercase}}</div>
        <h1 class="display-5 fw-bolder">{{product.title}}</h1>
        <div class="text-warning mb-2 h3">
          <app-star-rating [rating]="product.rating"></app-star-rating>
        </div>
        <div class="fs-5 mb-5">
          <span class="text-decoration-line-through text-danger">{{product.price * (product.discountPercentage / 100) + product.price | currency: 'INR' }}</span> &nbsp;
          <span class="text-success h4">{{product.price | currency: 'INR'}}</span>
        </div>
        <p class="lead">{{product.description}}</p>
        <div class="d-flex">
          <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem">
          <button class="btn btn-outline-dark flex-shrink-0" type="button"><i class="bi-cart-fill me-1"></i>Add to cart</button>
        </div>
      </div>
    </div>
  </div>
</section>