
<div class="d-flex justify-content-end mt-3">
  <div class="btn-group" role="group" aria-label="Basic mixed styles example">
    <button type="button" class="btn btn-xs btn-outline-danger" (click)="useLanguage('ta')">TA தமிழ் </button>
    <button type="button" class="btn btn-xs btn-outline-danger" (click)="useLanguage('fr')">FR Française </button>
    <button type="button" class="btn btn-xs btn-outline-danger" (click)="useLanguage('zh')">ZH 中文 </button>
    <button type="button" class="btn btn-xs btn-outline-danger" (click)="useLanguage('en')">EN English </button>
  </div>
</div>

<header class="mt-5 mb-3">
  <h2 class="text-center"> {{'login.title' | translate }} </h2>
</header>

<form class="addUser">
  <div class="mb-3">
    <label class="form-label">{{ 'login.username.label' | translate }}</label>
    <input type="text" name="userName" placeholder="{{ 'login.username.placeholder' | translate }}"
      class="form-control">
  </div>
  <div class="mb-3">
    <label class="form-label">{{ 'login.password.label' | translate }} </label>
    <input type="password" name="passWord" placeholder="{{ 'login.password.placeholder' | translate }}"
      class="form-control">
  </div>
  <div class="mb-3">
    <button type="submit" class="btn btn-success">{{'login.button.name' | translate }}</button>
  </div>
  <div class="mb-3">
    <a href="#"> {{'login.register.link' | translate}} </a>
    <br />
    <a href="#"> {{'login.forgotpassword.link' | translate}} </a>
  </div>
</form>