<header class="bg-dark py-5 mt-5 mb-5">
  <div class="container px-4 px-lg-5 my-2">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Product List</h1>
      <p class="lead fw-normal text-white-50 mb-0" *ngIf="products.limit">{{products.limit}}/{{products.total}}</p>
    </div>
  </div>
</header>

<section>
  <div class="container">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center" *ngIf="products.length !== 0">
      <div class="col mb-5" *ngFor="let item of products.products">
        <app-product-card [routerLink]="['/products/details', item.id]" [product]="item"></app-product-card>
      </div>
    </div>

    <div *ngIf="products.length === 0">
      <h3>No products found</h3>
    </div>
  </div>
</section>

<!-- https://javascript.plainenglish.io/angular-component-communication-81e5e02c6cbe -->